body {
    margin: 0;
    font-family: Roboto, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}
.header-logo-link {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.header-info-image {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    gap: 24px;
}

.header-info {
    text-wrap: wrap;
    width: 700px;
    height: 300px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    padding-top: 10px;
}

.header, .footer {
    
    background-color: #1f2937;
}

.header {
    display: flex;
    flex-direction: column;
    padding-bottom: 120px;
    padding-top: 0;
}

.header, .content-1, .content-2, .content-3 {
    padding-left: 200px;
    padding-right: 200px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.content-2 {
    background-color: #e5e7eb;
}

button {
    color: #ffffff;
    background-color: #3882f6;
    border-style: none;
    border-radius: 5px;
    padding: 8px 16px;
}

.main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: extra-bold;
}
p, a {
    color: #e5e7eb;
    font-size: 18px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.info-header {
    color: #1f2937;
    font-size: 36px;
    font-weight: extra-bold;
    padding-top: 40px;
    padding-bottom: 40px;
}
.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}


.content-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    gap: 60px;
}

.cards img {
    border: none;
    border-radius: 16px;
}

.card {
    width: 200px; 
    height: 200px;
    text-wrap: wrap;
}

.text {
    font-size: 21px;
    text-align: center;
}